<div class="container">
<br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img src="assets/images/angular2.png" alt="" width="30" height="30">
      Blog API/LARAVEL/ANGULAR</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorias</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registro</a>
      </li>
      </ul>
      <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Nombre Usuario
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Crear Entrada</a></li>
          <li><a class="dropdown-item" href="#">Crear Categoria</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
          <li><a class="dropdown-item" href="#">Ajustes</a></li>
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </li>
      
    </ul>
    </div>
  </div>
</nav>

</div>